@font-face {
  font-family: 'DIN Pro';
  font-weight: 400;
  font-style: normal;
  src: local("dinpro"),
    url('../fonts/dinpro.woff2') format("woff2"),
    url('../fonts/dinpro.woff') format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'DIN Pro';
  font-weight: 500;
  font-style: normal;
  src: local("dinpro_medium"),
    url('../fonts/dinpro_medium.woff2') format("woff2"),
    url('../fonts/dinpro_medium.woff') format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'DIN Pro';
  font-weight: 700;
  font-style: normal;
  src: local("dinpro_bold"),
    url('../fonts/dinpro_bold.woff2') format("woff2"),
    url('../fonts/dinpro_bold.woff') format("woff");
  font-display: swap;
}