// html,
// body {
//   height: 100%;
// }

// body {
//   display: flex;
//   flex-direction: column;
//   @extend %;
//   font-size: px;
//   line-height: px;
//   color: $default;
// }

// delete if not need fixed to bottom footer
// .main {
//   flex-grow: 1;
// }

// a {
//   @extend %;
//   font-size: px;
//   line-height: px;
//   color: $default;
// }

// .container {
//   max-width: 1200px;
//   margin: 0 auto;
//   padding: 0 15px;
// }