html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  @extend %dinpro-400;
  font-size: 18px;
  line-height: 1.3;
  color: $default;
}

.main {
  flex-grow: 1;
}

// a {
//   @extend %;
//   font-size: px;
//   line-height: px;
//   color: $default;
// }

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}